<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link type="text/css" href="http://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- moment -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <!-- alpaca -->
    <script type="text/javascript" src="https://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
    <!-- jquery ui -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- Required for jQuery UI DateTimePicker control -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"
        rel="stylesheet">
    <!-- Required for inputmask -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <!-- Beautify (used by EditorField) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-html.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- typeahead.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js" type="text/javascript"></script>
    <!-- ckeditor (for the ckeditor field) -->
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js" type="text/javascript"></script>
    <!-- bootstrap datetimepicker for date, time and datetime controls -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
    />
    <!-- bootstrap-multiselect for time field -->

    {{!--
    <script src="/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script> --}} {{!--
    <link rel="stylesheet" media="screen" href="/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" /> --}}

    <!-- jQuery Price Format for currency field -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-price-format/2.2.0/jquery.priceformat.min.js"></script>
    <!-- START - Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-74723052-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- END - Google Analytics -->
    <!-- pretty print -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="flex col-6">
                <form class="form-inline">
                    <select id="customerFilter" class="form-control">
                        <option>Show 25 customers</option>
                        <option>Show 50 customers</option>
                    </select>
                </form>
                <div id="customerTable">
                    {{!-- Tabulator Table goes here --}}
                </div>
            </div>
            <div id="customerForm" class="col-6"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#customerForm").alpaca({
                "schema": {
                    "title": "New Customer",
                    "type": "object",
                    "properties": {
                        "firstname": {
                            "type": "string",
                            "required": true,
                            "title": "Firstname",
                            "minLength": 2
                        },
                        "lastname": {
                            "type": "string",
                            "title": "Lastname",
                            "required": true,
                            "minLength": 2
                        },
                        "address": {
                            "type": "string",
                            "title": "Address",
                            "required": true
                        },
                        "phone": {
                            "type": "string",
                            "title": "Phone",
                            "format": "phone",
                            "required": true
                        },
                        "email": {
                            "type": "string",
                            "title": "Email",
                            "format": "email",
                            "required": true
                        },
                    }
                },
                "options": {
                    "form": {
                        "buttons": {
                            "submit": {
                                "type": 'button',
                                "click": function () {
                                    $.post("/api/customer", this.getValue(), function (data) {
                                        console.log('post route being called to create new customer');
                                        ///// insert returned created new customer record to customer table tabulator
                                    });
                                }
                            }
                        }
                    },
                    "fields": {
                        "firstname": {
                            "size": 20
                        },
                        "lastname": {
                            "size": 20
                        },
                        "address": {
                            "size": 20
                        },
                        "phone": {
                            "size": 20,
                            "maskString": "(999)-999-9999"
                        }
                    }
                },
                "view": "bootstrap-edit"
            });

            ///script for creating tabulator goes here
            $("#customerTable").tabulator({
                height: "311px",
                layout: "fitColumns",
                columns: [
                    { title: "Firstname", field: "firstname" },
                    { title: "Lastname", field: "lastname" },
                    { title: "Group ID", field: "groupID" },
                    { title: "Order", field: "order" },
                    { title: "Followup Open", field: "followupopen" },
                    { title: "Followup Status", field: "followupstatus" },
                    { title: "Followup Action", field: "followupaction" },
                    { title: "Due Date", field: "duedate" }
                ],

                cellEdited: function (cell) {
                    //This callback is called any time a cell is edidted
                    var propertyToPersist;
                    console.log(Object.keys(cell.cell));
                    console.log("Old Value: " + cell.cell.oldValue);
                    console.log("New Value: " + cell.cell.value);

                    // call http action and method here                 
                }
            });
        });
    </script>
    <!--Tabulator Import -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.3/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.3/js/tabulator.min.js"></script>
</body>
